#pic {
	width: 100px;
	height: 40px;
	background-color: green;
	background: url("../img/02.jpg") -webkit-transition : opacity 0.5s;
}
#pic:hover {
	opacity: 0.9;
}
.hover {
	background-color: red;
}
body {
	background-color: #c5c5c5;
}

ul li {
	display: inline-block;
	margin-right: 6px;
}
li {
	position: relative;
	display: inline-block;
	color: #787878;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-bottom: 20px;
	border-radius: 3px;
	background-color: #e5e5e5;
}
li:hover {
	color: #3d3d3d;
	box-shadow: 0 1px 0 #fff inset, 0 0 2px 1px #afafaf;
	text-decoration: none;
	background-image: -webkit-linear-gradient(top,#f2f2f2,#e5e5e5);
	background-image: -moz-linear-gradient(top,#f2f2f2,#e5e5e5);
	background-image: -o-linear-gradient(top,#f2f2f2,#e5e5e5);
	background-image: linear-gradient(top,#f2f2f2,#e5e5e5);
}
li:hover span {
	max-height: 400px;
}
li span {
	position: absolute;
	left: -32px;
	top: 50px;
	display: block;
	overflow: hidden;
	max-height: 0;
	text-align: center;
	-webkit-transition: max-height .3s linear;
	-moz-transition: max-height .3s linear;
	-o-transition: max-height .3s linear;
	transition: max-height .3s linear;
	z-index: 2;
}
li span em {
	position: relative;
	display: block;
	width: 1130px;
	height: 400px;
	line-height: 400px;
	font-style: normal;
	color: #fff;
	text-shadow: 0 0 0 #fff;
	margin-top: 10px;
	border: 2px solid rgba(255,255,255,.9);
	background-color: #222;
	z-index: 3;
}
li span em:before, li span em:after {
	position: absolute;
	left: 50%;
	content: '';
	width: 1px;
	height: 1px;
}
li span em:before {
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid transparent;
	border-bottom: 7px solid rgba(255,255,255,.9);
	top: -15px;
	margin-left: -16px
}
li span em:after {
	top: -11px;
	border: 5px solid transparent;
	border-bottom-color: #222;
	margin-left: -14px;
}
li:before {
	font-family: 'iconic';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	/*
	 * font-smoothing: antialiased;
	 */
	font-size: 24px;
}
.three {
	width: 250px;
	height: 188px;
	margin: 10px;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	box-shadow: 0px 0px 5px #aaa;
	cursor: default;
}
.three .mask, .three .content {
	width: 188px;
	height: 250px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}
.three img {
	display: block;
	position: relative;
}
.three a.info {
	background: url("../img/link.png") center no-repeat;
	display: inline-block;
	text-decoration: none;
	padding: 0;
	text-indent: -9999px;
	width: 20px;
	height: 20px;
}
.four .mask {
	opacity: 0;
	overflow: visible;
	border-top: 100px solid rgba(0,0,0,0.7);
	border-left: 125px solid rgba(0,0,0,0.7);
	border-right: 150px solid rgba(0,0,0,0.7);
	border-bottom: 100px solid rgba(0,0,0,0.7);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.four a.info {
	position: relative;
	top: -10px;
	opacity: 0;
	-webkit-transition: opacity 0.5s 0s ease-in-out;
	-moz-transition: opacity 0.5s 0s ease-in-out;
	-o-transition: opacity 0.5s 0s ease-in-out;
	-ms-transition: opacity 0.5s 0s ease-in-out;
	transition: opacity 0.5s 0s ease-in-out;
}
.four:hover .mask {
	opacity: 1;
	border-top: 100px solid rgba(0,0,0,0.7);
	border-left: 125px solid rgba(0,0,0,0.7);
	border-right: 150px solid rgba(0,0,0,0.7);
	border-bottom: 100px solid rgba(0,0,0,0.7);
}
.four:hover a.info {
	opacity: 1;
	-moz-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.six {
	width: 250px;
	height: 188px;
	margin: 10px;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	box-shadow: 0px 0px 5px #aaa;
	cursor: default;
}
.six .mask, .six .content {
	width: 250px;
	height: 180px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}
.six img {
	display: block;
	position: relative;
}
.six a.info {
	background: url("../img/link.png") center no-repeat;
	display: inline-block;
	text-decoration: none;
	padding: 0;
	text-indent: -9999px;
	width: 20px;
	height: 20px;
}
.seven .mask {
	opacity: 0;
	overflow: visible;
	border-top: 100px solid rgba(0,0,0,0.7);
	border-left: 125px solid rgba(0,0,0,0.7);
	border-right: 150px solid rgba(0,0,0,0.7);
	border-bottom: 100px solid rgba(0,0,0,0.7);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.seven a.info {
	position: relative;
	top: -10px;
	opacity: 0;
	-webkit-transition: opacity 0.5s 0s ease-in-out;
	-moz-transition: opacity 0.5s 0s ease-in-out;
	-o-transition: opacity 0.5s 0s ease-in-out;
	-ms-transition: opacity 0.5s 0s ease-in-out;
	transition: opacity 0.5s 0s ease-in-out;
}
.seven:hover .mask {
	opacity: 1;
	border-top: 100px solid rgba(0,0,0,0.7);
	border-left: 125px solid rgba(0,0,0,0.7);
	border-right: 150px solid rgba(0,0,0,0.7);
	border-bottom: 100px solid rgba(0,0,0,0.7);
}
.seven:hover a.info {
	opacity: 1;
	-moz-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
#my{
	margin-left: 120px;
	margin-top: 50px;
	clear:both;
	width: 100px;
	height: 50px;
	background-color: green;
}
#me{
	display:none;
	margin-left: 120px;
	margin-top: 10px;
	clear:both;
	width: 100px;
	height: 100px;
	background-color: yellow;
}
