.swiper-container {
				width: 100%;
				height: 100%;
			}
			
			.swiper-slide {
				text-align: center;
				font-size: 18px;
				background: #fff;
				/* Center slide text vertically */
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;
			}
			
			.prev,
			.next {
				position: absolute;
				top: 50%;
				width: 41px;
				height: 69px;
				margin-top: -35px;
				z-index: 10;
				cursor: pointer;
				background-repeat: no-repeat;
			}
			
			.prev {
				background-image: url(../images/slide-btn.png);
				background-position: left top;
				left: 100px;
				right: auto;
			}
			
			.next {
				background-image: url(../images/slide-btn.png);
				background-position: right top;
				right: 100px;
				left: auto;
			}
			.swiper-pagination-bullet {
				  width: 8px;
				  height: 8px;
				  display: inline-block;
				  border-radius: 100%;
				  background: #000;
				  opacity: 0.2;
				}
				button.swiper-pagination-bullet {
				  border: none;
				  margin: 0;
				  padding: 0;
				  box-shadow: none;
				  -moz-appearance: none;
				  -ms-appearance: none;
				  -webkit-appearance: none;
				  appearance: none;
				}
				.swiper-pagination-clickable .swiper-pagination-bullet {
				  cursor: pointer;
				}
				.swiper-pagination-white .swiper-pagination-bullet {
				  background: #fff;
				}
				.swiper-pagination-bullet-active {
				  opacity: 1;
				  background: #007aff;
				}
				
				
				
.big-pic{
	margin: 0 auto;
	width: 1240px;
	vertical-align: bottom;
}

.big-pic img{
	width: 100%;
}
.mihm-content-fn p {
	font-size: 14px;
	color: #555;
	line-height: 24px
}

.mihm-content-fn .mihm_body_headCon {
	list-style-type: none;
	margin: 0 auto;
	padding: 0px;
	width: 1226px
}

.mihm-content-fn .mihm_body_headCon li {
	height: 800px;
	background-position: 50% 50%;
	background-repeat: no-repeat
}

.mihm-content-fn .mihm_body_contentA {
	height: 660px;
	position: relative;
	background-position: 50% 0%;
	background-repeat: no-repeat
}

.mihm-content-fn .mihm_body_contentA .mihm_body_conteA {
	height: 660px;
	position: relative;
	background-position: 50% 140%;
	background-repeat: no-repeat
}



.mihm-content-fn .mihm_body_contentA .mihm_body_conteA .mihm_body_conA h3 {
	margin: 0px;
	padding: 0px;
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	color: #666;
	margin-top: 70px
}

.mihm-content-fn .mihm_body_contentA .mihm_body_conteA .mihm_body_conA .con1 {
	margin: 0px;
	margin-top: 20px;
	padding: 0px;
	font-size: 22px;
	color: #333
}

.mihm-content-fn .mihm_body_contentA .mihm_body_conteA .mihm_body_conA .con2 {
	margin: 0px;
	margin-top: 30px;
	font-size: 14px;
	color: #555;
	line-height: 20px;
	margin-top: 20px;
	line-height: 20px
}

.mihm-content-fn .mihm_body_contentB {
	height: 782px;
	background-position: 50% -10%;
	background-repeat: no-repeat;
	position: relative
}

.mihm-content-fn .mihm_body_contentB .mihm_body_conteB {
	height: 782px;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	position: relative
}





.mihm-content-fn .mihm_body_contentB .mihm_body_conteB .mihm_body_conB .text {
	position: absolute;
	top: 245px;
	left: 177px
}

.mihm-content-fn .mihm_body_contentB .mihm_body_conteB .mihm_body_conB .text h3 {
	margin: 0px;
	padding: 0px;
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	color: #666
}

.mihm-content-fn .mihm_body_contentB .mihm_body_conteB .mihm_body_conB .text .con1 {
	margin: 0px;
	margin-top: 20px;
	padding: 0px;
	font-size: 22px;
	color: #333;
	margin-bottom: 30px
}


.mihm-content-fn .mihm_body_contentC {
	height: 782px;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	position: relative
}

.mihm-content-fn .mihm_body_contentC .mihm_body_conteC {
	height: 782px;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	position: relative
}



.mihm-content-fn .mihm_body_contentC .mihm_body_conteC .mihm_body_conC h3 {
	margin: 0px;
	padding: 0px;
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	color: #666;
	margin-top: 80px
}

.mihm-content-fn .mihm_body_contentC .mihm_body_conteC .mihm_body_conC .con1 {
	margin: 0px;
	margin-top: 20px;
	padding: 0px;
	font-size: 22px;
	color: #333
}

.mihm-content-fn .mihm_body_contentC .mihm_body_conteC .mihm_body_conC .con2 {
	margin: 0px;
	margin-top: 30px;
	font-size: 14px;
	color: #555;
	line-height: 20px;
	line-height: 20px
}



.mihm-content-fn .mihm_body_contentD {
	height: 787px;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	position: relative
}

.mihm-content-fn .mihm_body_contentD .mihm_body_conteD {
	height: 787px;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	position: relative
}


.mihm-content-fn .mihm_body_contentD .mihm_body_conteD .mihm_body_conD .text {
	position: absolute;
	top: 260px;
	left: 170px
}

.mihm-content-fn .mihm_body_contentD .mihm_body_conteD .mihm_body_conD .text h3 {
	margin: 0px;
	padding: 0px;
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	color: #666
}

.mihm-content-fn .mihm_body_contentD .mihm_body_conteD .mihm_body_conD .text .con1 {
	margin: 0px;
	margin-top: 20px;
	padding: 0px;
	font-size: 22px;
	color: #333;
	font-size: 20px
}

.mihm-content-fn .mihm_body_contentD .mihm_body_conteD .mihm_body_conD .text .con2 {
	margin: 0px;
	margin-top: 30px;
	font-size: 14px;
	color: #555;
	line-height: 20px;
	line-height: 20px
}

.mihm-content-fn .mihm_body_contentD .mihm_body_conteD .mihm_body_conD .smlimgs {
	width: 386px;
	position: absolute;
	bottom: 166px;
	left: 170px;
	padding: 0px;
	margin: 0px
}

.mihm-content-fn .mihm_body_contentD .mihm_body_conteD .mihm_body_conD .smlimgs li {
	float: left;
	width: 76px;
	height: 55px;
	border: 2px solid #fff;
	margin-left: 5px;
	line-height: 0px;
	overflow: hidden;
	_zoom: 1;
	-webkit-box-shadow: 0 0px 10px #888888;
	box-shadow: 0 0px 10px #888888
}

.mihm-content-fn .mihm_body_contentD .mihm_body_conteD .mihm_body_conD .smlimgs li a {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	width: 80px;
	height: 59px
}


.mihm-content-fn .mihm_body_contentF {
	height: 792px;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	position: relative
}

.mihm-content-fn .mihm_body_contentF .mihm_body_conteF {
	height: 792px;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	position: relative
}



.mihm-content-fn .mihm_body_contentF .mihm_body_conteF .mihm_body_conF .text {
	position: absolute;
	top: 128px;
	left: 619px
}

.mihm-content-fn .mihm_body_contentF .mihm_body_conteF .mihm_body_conF .text h3 {
	margin: 0px;
	padding: 0px;
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	color: #666
}

.mihm-content-fn .mihm_body_contentF .mihm_body_conteF .mihm_body_conF .text .con1 {
	margin: 0px;
	margin-top: 20px;
	padding: 0px;
	font-size: 22px;
	color: #333;
	margin-bottom: 30px
}


.mihm-content-fn .mihm_body_contentG {
	height: 1025px;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	position: relative
}

.mihm-content-fn .mihm_body_contentG .mihm_body_conteG {
	height: 1025px;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	position: relative
}



.mihm-content-fn .mihm_body_contentG .mihm_body_conteG .mihm_body_conG .text {
	position: absolute;
	top: 152px;
	left: 158px
}

.mihm-content-fn .mihm_body_contentG .mihm_body_conteG .mihm_body_conG .text h3 {
	margin: 0px;
	padding: 0px;
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	color: #666
}

.mihm-content-fn .mihm_body_contentG .mihm_body_conteG .mihm_body_conG .text .con1 {
	margin: 0px;
	margin-top: 20px;
	padding: 0px;
	font-size: 22px;
	color: #333;
	font-size: 20px
}

.mihm-content-fn .mihm_body_contentG .mihm_body_conteG .mihm_body_conG .text .con2 {
	margin: 0px;
	margin-top: 30px;
	font-size: 14px;
	color: #555;
	line-height: 20px;
	line-height: 20px
}

.mihm-content-fn .mihm_body_contentG .mihm_body_conteG .mihm_body_conG .text .con3 {
	font-size: 14px
}

.mihm-content-fn .mihm_body_contentG .mihm_body_conteG .mihm_body_conG .text .con3 a {
	color: #f99;
	text-decoration: underline
}



.mihm-content-fn .mihm_body_contentH {
	height: 824px;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	position: relative
}

.mihm-content-fn .mihm_body_contentH .mihm_body_conteH {
	height: 824px;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	position: relative
}



.mihm-content-fn .mihm_body_contentH .mihm_body_conteH .mihm_body_conH h3 {
	margin: 0px;
	padding: 0px;
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	color: #666;
	margin-top: 60px
}

.mihm-content-fn .mihm_body_contentH .mihm_body_conteH .mihm_body_conH .con1 {
	margin: 0px;
	margin-top: 20px;
	padding: 0px;
	font-size: 22px;
	color: #333
}

.mihm-content-fn .mihm_body_contentI {
	width: 100%;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	position: relative
}

.mihm-content-fn .mihm_body_contentI .mihm_body_conteI {
	width: 100%;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	position: relative
}


.mihm-content-fn .mihm_body_contentI .mihm_body_conteI .mihm_body_conI h3 {
	margin: 0px;
	padding: 0px;
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	color: #666;
	margin-top: 60px
}

.mihm-content-fn .mihm_body_contentI .mihm_body_conteI .mihm_body_conI .con1 {
	margin: 0px;
	margin-top: 20px;
	padding: 0px;
	font-size: 22px;
	color: #333
}

.mihm-content-fn .mihm_body_contentI .mihm_body_conteI .mihm_body_conI h4 {
	font-size: 22px;
	line-height: 30px;
	margin-top: 30px;
	margin-bottom: 20px
}

.mihm-content-fn .mihm_body_contentI .mihm_body_conteI .mihm_body_conI .tab1 {
	margin-top: 55px;
	width: 575px;
	margin: 0 auto;
	border-bottom: 1px solid #bfbfbf;
	border-right: 1px solid #bfbfbf
}

.mihm-content-fn .mihm_body_contentI .mihm_body_conteI .mihm_body_conI .tab1 td {
	font-size: 14px;
	color: #666;
	height: 37px;
	line-height: 37px;
	border-top: 1px solid #bfbfbf;
	border-left: 1px solid #bfbfbf
}

.mihm-content-fn .mihm_body_contentI .mihm_body_conteI .mihm_body_conI .tab1 .last {
	border-left: none
}

.mihm-content-fn .mihm_body_contentI .mihm_body_conteI .mihm_body_conI .tab1 .th1 {
	width: 180px
}

.mihm-content-fn .mihm_body_contentI .mihm_body_conteI .mihm_body_conI .tab2 {
	margin-top: 20px;
	width: 575px;
	margin: 0 auto;
	border-bottom: 1px solid #bfbfbf;
	border-right: 1px solid #bfbfbf;
	margin-bottom: 100px
}

.mihm-content-fn .mihm_body_contentI .mihm_body_conteI .mihm_body_conI .tab2 td {
	font-size: 14px;
	color: #666;
	height: 37px;
	line-height: 37px;
	border-top: 1px solid #bfbfbf;
	border-left: 1px solid #bfbfbf
}

.mihm-content-fn .mihm_body_contentI .mihm_body_conteI .mihm_body_conI .tab2 th {
	border-left: 1px solid #bfbfbf;
	background-color: #f4f4f4;
	font-size: 14px;
	color: #666;
	height: 37px;
	line-height: 37px;
	border-top: 1px solid #bfbfbf
}

.mihm-content-fn .mihm_body_contentI .mihm_body_conteI .mihm_body_conI .tab2 .th1 {
	width: 180px
}


.mihm-content-fn .mihm_body_contentJ .mihm_body_conteJ .mihm_body_conJ .text {
	position: absolute;
	top: 305px;
	left: 210px
}

.mihm-content-fn .mihm_body_contentJ .mihm_body_conteJ .mihm_body_conJ .text h3 {
	margin: 0px;
	padding: 0px;
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	color: #666
}

.mihm-content-fn .mihm_body_contentJ .mihm_body_conteJ .mihm_body_conJ .text .con1 {
	font-size: 18px;
	color: #333
}

.mihm-content-fn .mihm_body_contentK {
	height: 795px;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	position: relative
}

.mihm-content-fn .mihm_body_contentK .mihm_body_conteK {
	height: 795px;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	position: relative
}


.mihm-content-fn .mihm_body_contentK .mihm_body_conteK .mihm_body_conK .text {
	position: absolute;
	top: 226px;
	right: 190px;
	text-align: right
}

.mihm-content-fn .mihm_body_contentK .mihm_body_conteK .mihm_body_conK .text h3 {
	margin: 0px;
	padding: 0px;
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	color: #666;
	padding-right: 10px
}

.mihm-content-fn .mihm_body_contentK .mihm_body_conteK .mihm_body_conK .text .con1 {
	margin: 0px;
	margin-top: 20px;
	padding: 0px;
	font-size: 22px;
	color: #333;
	font-size: 18px;
	color: #333
}

.mihm-content-fn .mihm_body_contentL {
	height: 887px;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	position: relative
}

.mihm-content-fn .mihm_body_contentL .mihm_body_conteL {
	height: 887px;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	position: relative
}


.mihm-content-fn .mihm_body_contentL .mihm_body_conteL .mihm_body_conL .text {
	position: absolute;
	top: 120px;
	left: 177px
}

.mihm-content-fn .mihm_body_contentL .mihm_body_conteL .mihm_body_conL .text h3 {
	margin: 0px;
	padding: 0px;
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	color: #666
}

.mihm-content-fn .mihm_body_contentL .mihm_body_conteL .mihm_body_conL .text .con1 {
	margin: 0px;
	margin-top: 20px;
	padding: 0px;
	font-size: 22px;
	color: #333;
	font-size: 18px;
	color: #333
}

.mihm-content-fn .mihm_body_contentM {
	height: 550px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;
	margin: 0 auto
}


.mihm-content-fn .mihm_body_contentM .mihm_body_conM h3 {
	margin: 0px;
	padding: 0px;
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	color: #666;
	font-size: 20px;
	color: #666;
	margin-top: 242px
}

.mihm-content-fn .mihm_body_contentM .mihm_body_conM p {
	font-size: 27px;
	color: #666
}

.mihm-content-fn .mihm_body_contentM .mihm_body_conM p b {
	font-size: 23px
}

.mihm-content-fn .mihm_body_contentM .mihm_body_conM .con2 {
	display: block;
	margin: 0 auto;
	margin-top: 25px;
	width: 140px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	border-radius: 20px;
	background-color: #e63c3c
}
